@charset "utf-8";
/* CSS Document */

*{margin:0;	padding:0; border:0; list-style:none;}
body{-webkit-text-size-adjust:none;color:#333}
html,body,div,p,h1,h2,h3,ul,ol,li,a,span,strong,em,small,img,form,input,table,thead,tbody,tr,th,td{margin:0;padding:0;font-size:12px;line-height:1.5;font-family:'XinGothic-SinaWeibo','Microsoft Yahei','Simsun'}
h1,h2,h3,h4,h5,h6{font-size:100%}
.clearfix:after {dISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."}
.clearfix { clear:both;   :block;}
form{display:inline}
ul,ol{list-style:none}
a{text-decoration:none;color:#333; blr:expression_r(this.onFocus=this.blur())}
area {blr:expression_r(this.onFocus=this.blur())}
a:hover,a:active,a:focus{color:#fb8600;text-decoration:none}
a:focus {outline:none; -moz-outline:none;}
a:active{color:#aaa}
a.orange,span.orange{color:#fb8600}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
button,input,select,textarea{font-size:100%;vertical-align:middle;outline:0}
textarea{resize:none}
.fl{float:left}
.fr{float:right}
body{ background:#ffffff; height:100%;}



.header{ background:url(../images/header_back.jpg) repeat-x; width:100%; height:40px; margin:0 auto; text-align:center;}
.header_left{ width:15%; float:left;}
.header_center{ width:70%; float:left;}
.header_right{ width:15%; float:right;}
.header a{ line-height:40px; color:#ffffff;}

.mainbox{ width:100%; height:auto; background:#a21c21; margin:0 auto;}
.main{ background:url(../images/xueyi_pic.png) no-repeat; width:320px; height:921px; margin:0 auto;}

.main_one{ width:320px; height:368px; margin:0 auto;}
.main_one span{ padding-top:125px; display:block; font-size:14px;}
.main_one .xueyi{ margin-left:30px; float:left; font-family:"微软雅黑";}
.main_one .mashang{ margin-right:45px; float:right; font-family:"微软雅黑"; padding-top:140px;}
.main_one a{ font-size:16px; color:#ff0000; margin-left:5px;}

.main_two{ width:300px; height:159px; margin:0 auto;}
.main_two span{ display:block; background:url(../images/main_two_nav.png) no-repeat; width:196px; height:27px; text-align:center; line-height:27px;}
.main_two ul li{ float:left; background:url(../images/main_two_cont.png) no-repeat; width:119px; height:138px; margin-top:10px; margin-left:15px; margin-right:15px; text-align:center; line-height:1.6; font-size:14px;}
.main_two ul li b{ font-size:12px; color:#727272; text-decoration:line-through; font-weight:normal;}

.main_three{ height:110px; margin-top:30px;}
.main_three .zengsp_cont{ width:300px; height:90px; border:2px solid #ffd800; background:none; border-radius:10px; margin-top:-8px; text-align:left;}
.main_three .zengsp_cont b{ font-weight:normal; font-size:14px; margin:5px 10px 0; display:block; color:#ffd800}

.mainfour{ width:300px; height:auto; margin:10px auto 0; background:#fdc992; border-radius:10px;}
.mainfour span{ display:block; padding:10px;}

.bottom_box{ width:100%; height:60px; background:url(../images/footer_back.jpg) repeat-x; }
.bottom{ width:320px; margin:0 auto; text-align:center; color:#ffffff; line-height:30px;}
.bottom a{ color:#ffffff;}


/***************************确认订购********************************/

.qrdg_main{ background:url(../images/querendinggou_back.png) no-repeat; width:320px; height:382px; margin:0 auto;}
.qrdg_main span{ display:block;  width:300px; height:130px; background:#f8e0a4; float:left; margin-top:200px; margin-left:10px; border:1px solid #ffd800; border-radius:10px; text-align:center; font-size:14px;}
.qrdg_main span b{ font-weight:normal; margin-left:10px; margin-top:5px; display:block; text-align:left;}
.qrdg_main span em{ display:block; font-style:normal; margin-top:15px;  font-size:14px;}
.qrdg_main span a{ margin-top:20px; display:block;}
.qrdg_main span .queren{ float:left; margin-left:60px;}
.qrdg_main span i{ font-style:normal; color:#F00}
.queren{ float:left;}


